---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <!-- <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul> -->

    <!-- <iframe src="http://lca-ufms.ddns.net/grafana/d-solo/BE7BC_vik/campo-eletrico-raios?refresh=30s&panelId=5&orgId=1&from=1548004743344&to=1548008343344" width="100%" height="400px" frameborder="0"></iframe> -->
    <iframe src="https://lca.ufms.br:3000/d-solo/CQwdM0liz/alerta-raios?refresh=5s&panelId=2&orgId=1&kiosk&theme=light" width="100%" height="500px" frameborder="0"></iframe>
    <iframe src="https://lca.ufms.br:3000/d-solo/CQwdM0liz/alerta-raios?orgId=1&refresh=5s&panelId=4&theme=light" width="100%" height="500px" frameborder="0"></iframe>
    <iframe src="https://embed.windy.com/embed2.html?lat=-20.772&lon=-54.503&zoom=8&level=surface&overlay=rain&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=true&detailLat=-20.520&detailLon=-54.630&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1" frameborder="0" width="100%" height="500px"></iframe>

  </section>
