---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<ul>
  <li>
    <small>
      <strong>
        ANALYSIS OF EXTREME EVENTS OF LIGHTNING AND RAINFALL ON THE PARAGUAY BASIN
      </strong><br>
      <p style="text-align:justify">
        Robson Jaques1,2, Haroldo Atanasio de Souza Pereira Leite1 , Moacir Lacerda1,2, Julio Cesar Paro1,3 Clovis
        Lasta
        Fritzen1,2
        Abstract It is presented a methodology for analysis of extreme events in the Paraguay River Basin. The number
        of electric discharges and stratiform and convective precipitation data are crossed in the search for
        correlations between them. Extreme events can be found from the establishment of average precipitation and the
        number of discharges recorded in the same area. Spatial patterns of distribution for electric discharges are
        detected and some causes for these patterns are discussed. There is a high correlation between precipitation
        and
        the number of lightning. The results indicate also that orography and the flooded area may be important factors
        in defining patterns of precipitation and electric discharges.
        <a href='/trabalhos/Trabalhos_Publicados_rabalhos_Publicados_RTIGOHAROLDOVERSAO2012_12_10.pdf' style='text-decoration:none'
          target='_blank'> Ler trabalho completo </a>
      </p>
    </small>
  </li>
  <li>
    <small>
      <strong>
        CALCULUS OF TORTUOSITY OF LIGHTNING CHANNEL
      </strong><br>
      <p style="text-align:justify">
        Luiz Dirceu Thomaz Junior1 , Moacir Lacerda1 , Robson Jaques1 , Julio Cesar Paro2,1, Clovis Lasta Fritzen1 ,
        Abstract In this paper we present results of comparison of lightning channel tortuosity calculated by
        simulation and calculated using photographic records presented in the literature. We simulated the last 1500 m
        of channel in several distances of cloud and under several regimen of conductivity considered as a tensor. The
        tortuosity of simulated channel depends on the conductivity. We choose the simulated cases where the
        mean tortuosity angles are close to 17o and 9 o . These angles correspond to the values presented in literature
        for mean tortuosity of natural and triggered lightning respectively. In these selected cases we compare the
        distribution of tortuosity according to height with that one calculated for natural and triggered lightning in
        Florida (Idone and Orvile, 1988). Some discussion about this comparison is presented.
        <a href='/trabalhos/Trabalhos_Publicados_rabalhos_Publicados_homasJrARTIGOTORTUOSIDADE2012_09_21.pdf' style='text-decoration:none'
          target='_blank'> Ler trabalho completo </a>
      </p>
    </small>
  </li>
  <li>
    <small>
      <strong>
        Diurnal variation of lightning activity based on data recorded by the global lightning location system STARNET
      </strong><br>
      <p style="text-align:justify">
        Moacir Lacerda, Robson Jaques
        The Lightning activity is analyzed in a scale of hour, by using the lightning detection system STARNET data to
        build a diurnal lightning activity curve. We rebuilt Carnegies curve by using hour averaged data of lightning
        incidence inside windows over South America, Africa and Oceania. The shape of the curve is similar to those
        of literature with small differences of time of peak for lightning activity. The peaks of lightning activity
        occurred at 08:30 over Oceania, 14:00 over Africa and 18:30 over South America.
        <a href='/trabalhos/Trabalhos_Publicados_Icae_LACERDA_AND_JAQUES.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>
  <li>
    <small>
      <strong>
        Comparison of Carnegie
      </strong><br>
      <p style="text-align:justify">
        Moacir Lacerda, Robson Jaques, Marcelo Magalhães Fares Saba, Diovane Rodolfo Campos, Kleber Pinheiro Nacaratto
        Abstract In this paper we obtained the Carnegie's curve for South America by using data from a global
        lightning detection system in a scale of seconds. Carnegie's curve is a measurement of electrical activity of
        the planet. It can be obtained by direct averaging the measurements of electric field (in a scale of hours)[1],
        or can be obtained (in the same scale of time) from lightning activity [2], [3], [4]. The lightning data used
        to monitor lightning activity in this study was recorded by the sensors of the BrasilDAT lightning location
        system. The dataset consists of cloud and cloud-to-ground discharges detected within a 100km-radius circle
        centered on latitude -23.4587 and longitude -46.7667, corresponding to an area in and around the city of São
        Paulo, SP, Brazil . The methodology consists of calculating the Carnegie's curve in a scale of hours, plotting
        the lightning activity data collected of BrasilDAT and compare it with the curve obtained by Lacerda and Jaques
        [4] by using STARNET data.
        <a href='/trabalhos/Trabalhos_Publicados_painelsipda2013moacirlacerda.ppt' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>

  <li>
    <small>
      <strong>
        HIGH-SPEED OBSERVATION OF UPWARD LIGHTNING FLASHES IN BRAZIL
      </strong><br>
      <p style="text-align:justify">
        Carina Schumann, Marcelo M. F. Saba, Amanda Romão de Paiva , Robson Jaques,Marco A. S. Ferro,Tom A. Warner
        Abstract Studies of upward flashes from tall structures around the world have been reported since 1939. The
        characteristics of the triggering mechanism and of the upward flashes are of increasing interest to wind power
        turbines, telecommunication toware and power distribution companies. Observations of upward flashes in Brazil
        are recent. Since 2012, upward events were observed in all different seasons of year. They initiate on several
        towers in Sao Paulo, a city in southeast Brazil at an average elevation of around 800 meters above sea level
        and a flash density of 15 flashes/km.year. Some of the towers are located on top of buildings or hills. In
        this study, we will present some characteristics of these upward flashes, based on high speed video
        observation: flash duration, presence of subsequence of return stroke, previous lightning events, initial
        continuous current pulses and the presence recoil leader.
        <a href='/trabalhos/Trabalhos_Publicados_High_Speed_Observations_2014_ILDC_ILMC.pdf' style='text-decoration:none'
          target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>
  <li>
    <small>
      <strong>
        Method LMA-EF for determination of position and intensity of electric charges inside thunderstorm clouds
      </strong><br>
      <p style="text-align:justify">
        Robson Jaques, Moacir Lacerda
        ABSTRACT: In this paper we present experimental results obtained by the use of the method Lightning Mapping
        Array with Electric Field measurements on ground (LMA-EF). This method allows to measure the positions and
        magnitudes of the electric charges (Q) inside the thunderstorm clouds. The data used to validate the experiment
        were provided by the Vale do Paraiba CHUVA (Cloud processes of tHe main precipitation systems in Brazil: A
        contribUtion to cloud resolVing modeling and to the GPM (GlobAl Precipitation Measurement) ) project campaign,
        that took place in São Paulo - Brazil between December of 2011 and January of 2012. The LMA data can provide us
        the position (R) of the electric charges centers and a network of electric field mill provides data of electric
        field (E). Combining LMA data with the measurements of electric field on the ground is possible to determine
        the magnitude of the electric charges, by using the inversion of the coulomb law in matrix form: Q =
        (RT.R)-1.RT.E. An algorithm was written to make this estimation automatically. After the determination of the
        electric charge structure, the algorithm recalculates the direct Coulombs Law and checks the results by
        fitting data of electric field on ground.
        <a href='/trabalhos/Trabalhos_Publicados_01_ICAE2014_JaquesandLacerda.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>
  <li>
    <small>
      <strong>
        REASERCH OF ELECTRICAL STRUTURE OF A THUNDER CLOUD OVER SÃO PAULO CITY BY USING FIELD MILL RECORDS, RADAR DATA
        AND LIGHTNING LOCALIZATION SYSTEM (LLS).
      </strong><br>
      <p style="text-align:justify">
        Moacir Lacerda,1,2, Robson Jaques2, Carlos Augusto Morales Rodriguez4, , Evandro Moimaz Anselmo4, Clóvis Lasta
        Fritzen1, Julio Cesar Paro3, Widinei Alves Fernandes3,2, Waldeir Moreschi Dias1
        Abstract In this paper we present preliminary results of the study of thundercloud structure over urban area.
        The sensors were developed by LCA-UFMS team and are operated now by IAG-USP team. To solve Coulombs law by
        using the records of two electric field mill (EFM) (at rate of one second) we developed a computational code
        that calculates second by second the magnitude and localization of charges main centers. This methodology
        allows to find results with good precision. Analyzing the solutions of Coulombs law, surprisingly we noticed
        that there are inversion of the sign of charges from positive to negative or negative to positive in those
        regions where the centers were located in a scale of several seconds. We dont have definitive explanation
        about this but it is possible that fast discharges inside the cloud are responsible for this behavior.
        <a href='/trabalhos/Trabalhos_Publicados_0x_Ground_2010_Moacir_RESUMOEXPANDIDO.pdf' style='text-decoration:none'
          target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>

  <li>
    <small>
      <strong>
        Analysis of lightning data on Paraguay Basin
      </strong><br>
      <p style="text-align:justify">
        Robson Jaques1,2, Moacir Lacerda1,2, Haroldo Atansio de Souza Pereira Leite1, Widinei Alves Fernandes3.
        In this paper we present results of analysis of lightning data on Paraguay Basin. The corners of spatial
        window, for this analysis are: RightDown = (28 S, 51 W), LeftUp =(14 S, 68 W) and the period of time is January
        2008 to February 2009. Lightning data were provided by starnet system through IAG-USP. Charts containing data
        are presented for each month and for this period of time. These charts contain information for calculate
        engineering parameters of protection. The main results are: the lightning activity is stronger over Andess
        Ridge and over the cerrado. The main flooded area (pantanal) showed low lightning activity. The time of highest
        activity was around 18:00 UTC. There is another small peak of activity around 12:00 UTC. This data confirm
        previous results of preliminary research developed by LCA-UFMS team using satelites data of LIS (Lightning
        Image Sensor) at TRMM (Tropical Rain Measurement Mission) project. So, the main vulnerable area to extreme
        events of lightning discharge are located around the pantanal.
        <a href='/trabalhos/Trabalhos_Publicados_RobsonJaquesExpandedAbstract2.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>
  <li>
    <small>
      <strong>
        About the direction of motion, polarity and multiplicity of lightning flashes hitting towers: a comparative
        analysis of data gathered in Brazil and Switzerland
      </strong><br>
      <p style="text-align:justify">
        O. Pinto Jr.1, D. G. Guedes1, M. M. F. Saba1, I. R. C. A. Pinto1, and M. Lacerda2
        Abstract. After 17 years of research at Morro do Cachimbo station (MC) in Brazil, 51 flashes with strokes
        higher than 2 kA were registered. The data are compared with similar data obtained from the Mount San Salvatore
        station (SS), Switzerland, in terms of the incidence of downward or upward flashes, polarity, and flash
        multiplicity. The comparison indicates that at MC the percentage of upward flashes and the multiplicity of
        negative downward flashes are higher than at SS, while the percentage of downward positive flashes is lower.
        Key words. Meteorology and atmospheric dynamics (atmospheric electricity; lightning; instruments and
        techniques)
        <a href='/trabalhos/Trabalhos_Publicados_angeo-21-1209-2003.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>

  <li>
    <small>
      <strong>
        Dissertação de Mestrado : Moacir Lacerda
      </strong><br>
      <p style="text-align:justify">
        Moacir Lacerda
        We make an historical review about research on lightning and present data on currentes
        recorded when thunder strokes, analysing the thecniques used to ob- tain those data. We present the model by
        Lin et al., which relates elds and currents, treating the return stroke as an irradiating antenna and
        tearing the channel currents in three components, modelling them separately. One of them is the corona current,
        due to the dive of the charges kept around the channel heading to the cannel. Lin uses two parameters a and ,6
        in the expression for the corona current, to his theoretical functions to the experimental data. Our
        work consistid in deriving a model of electrical circuits for the main channel and its neighborhoods described
        by a differential equation which homogeneous solution for the current has the same shape of Lins expressions
        to the corona current. a and B reveal themselves depen- dent upon the electrical parameters R(z), L(z) and
        C(z), representing the resistive, inductive and capacitive elements associated to the channel, trough the
        equations roots. That equation describes the dynamics associated to the development of currents in the main
        channel of the lightning, and allow us obtain an expression to the pulse current as a particular solution. At
        least, we estimate the parameter C(z) in 10E-6 F and calculate, to the channel, a resistance of approximately
        10E+2 - 10E+3 ohms and an indutance of 10E-4 H. This publication is a tribute to MARIA CAROLINA NEMES who was
        my source of inspiration during my master degree at USP (São Paulo University)
        <a href='/trabalhos/Trabalhos_Publicados_doc20141126023941_c.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>

  <li>
    <small>
      <strong>
        Modelagem da Corrente de Descarga e Cálculo dos Campos Eletromagnéticos
      </strong><br>
      <p style="text-align:justify">
        Modelagem da Corrente de Descarga e Cálculo dos Campos Eletromagnéticos
        Moacir Lacerda
        Monografia referente ao Exame Integrado (Qualificação) do Curso de Pós Graduação em Geofísica Espacial.
        <a href='/trabalhos/Trabalhos_Publicados_doc20141129065819.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>

  <li>
    <small>
      <strong>
        A METHODOLOGY TO STUDY CHARGED CLOUD STRUCTURE BASED ON FIELD MILL NETWORKS BY SOLVING THE INVERSE PROBLEM OF
        COULOMB
      </strong><br>
      <p style="text-align:justify">
        Moacir Lacerda1,3, Carlos Augusto Morales Rodriguez2, Hilton Luiz Monteiro Junior3, Evandro Moimaz Anselmo2,
        João Ricardo Neves2, Robson Jaques1,3, Eduardo Fernando Gomes2, Clovis Lasta Fritzen3 ,Wagner Dal Piva
        Rocamora3, Kaian Lopez Fernandes3,Julio Cesar Paro4,3, Widinei Alves Fernandes1,3 1 Universidade Federal de
        Mato Grosso do Sul Centro de Ciências Exatas e Tecnologias, Pós Graduação em Tecnologias Ambientais
        -UFMS-CCET-PGTA 2 Universidade de São Paulo Instituto de Astronomia Geofísica e Ciências Atmosféricas USP-IAG
        3 Universidade Federal de Mato Grosso do Sul Centro de Ciências Exatas Laboratório de Ciências Atmosféricas
        (LCA) 4Instituto Federal de Mato Grosso do Sul, IFMS
        Abstract. We calculate electrical structures axially distributed in space based on measurements of electric
        field mill network on ground by solving the inverse problem of Coulomb's law. It is not trivial to use such
        approach and a methodology for dealing with mathematical problems of detecting solutions is presented. As an
        example we fit data from a field mill network by using this technique. A preliminary results and discussion are
        presented to improve this methodology in a more general case.
        <a href='/trabalhos/Trabalhos_Publicados_Lacerda_et_al_amethodologytostudycloudsructureVF.pdf' style='text-decoration:none'
          target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>

  <li>
    <small>
      <strong>
        Simulação do perfil do campo elétrico e o cálculo do problema inverso em nuvens eletricamente carregadas, com
        estruturas tri e quadripolares. Campo Grande, 2011. Dissertação (Mestrado em Física) Universidade Federal de
        Mato Grosso do Sul
      </strong><br>
      <p style="text-align:justify">
        MONTEIRO, H. L. JR.
        The objective of this work is to simulate clouds that are quite similar to the natural clouds, and compare the
        profiles of electric field. We simulate the structure of electric charges inside the clouds for tripolar and
        quadripolar cases. The vertical profiles of electric field and along the ground (z = 0) close to cloud were
        obtained, too. Another objective is use the values of electric field at z = 0, that simulate the electric field
        on ground, to solve the inverse problem of Coulombs Law. These values are calculated for a known structure and
        will be used to study the conditions that makes possible to discover the structure of charges that generate
        such values of electric field. It appears that the software properly simulates the clouds from the charge
        density, independent of the magnitudes of the charges, and is able to reproduce the localization of the charge
        centers. Under the center of the cloud, the vertical profiles are almost linear therefore the solutions
        obtained are very poor. The ideal region to obtain the vertical profiles that detect the charge structure of
        the cloud is close to the edges of the cloud.
        <a href='/trabalhos/Trabalhos_Publicados_VERSAO_FINAL_fev_12.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>


  <li>
    <small>
      <strong>
        FIRST ANALYSIS OF ELECTRIC FIELD MILL NETWORK MEASUREMENTS FROM 2013 TO 2015.
      </strong><br>
      <p style="text-align:justify">
        Moacir Lacerda, Luana Feitosa, Oniel Rodrigues Silvestre , Andressa Duarte, Clovis Lasta Fritzen, Waldeir
        Moreschi Dias , Robson Jaques Verly
        Abstract - In this paper we present details of construction and calibration of an Electric Field Mill (EFM) and
        first results of data analysis collected between 2013 and 2015 of an EFM network installed in the city of Campo
        Grande, Mato Grosso do Sul, Brazil and operated by the Laboratory of Atmospheric Sciences of the Physics
        Institute from the Federal University of Mato Grosso do Sul (www.lca.ufms.br). We present data analysis of 21
        storms and fair weather measurements. We detected some patterns of previous discharges inside clouds that allow
        giving some insights of how to obtain an alert of lightning risk. The end of storm (EOS) was analyzed too. The
        fair weather electric field was analyzed by using Fourier Transform and allowed to detect the frequency of
        several harmonics. We used the first 21 harmonics to fit the data curve. The main oscillation has a period of
        about 12 hours. The system was monitored by cameras and we could synchronize the electric field measurement
        with video image. Some images of lightning discharge are showed. Some details of the sensors calibrating are
        presented.
        <a href='/trabalhos/Trabalhos_Publicados_PlenarySession2-P15.pdf' style='text-decoration:none' target='_blank'>
          Ler trabalho completo </a>
      </p>
    </small>
  </li>



</ul>

<section>
</section>